# Ignore everything in this directory
.DS_Store
.classpath
.project
/bin/
/build/
/build-lib/
/build-beast/
/build-test/
/test-reports/
/dist/
/templates/MascotBSSVS/
src/beast/mascot/operators/BitFlipBSSVSOperator.java
